@font-face {
  font-family: 'SF Pro Text';
  src: url('/assets/fonts/SFProText-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/assets/fonts/SFProText-Bold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}